# Ignore Python cache and build files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/

# Virtual environments
venv/
env/
*.venv/

# Logs
*.log

#--------------------------------
# Ignore large result / output files
#--------------------------------
*.graphml
*.csv
*.xlsx
*.mtx
*.gmt
*.shp
*.shx
*.dbf
*.tsv
*.txt

# Ignore all pickle files
*.pkl

#--------------------------------
# Ignore heavy data directories
#--------------------------------
applications/*/data/raw_data/
applications/*/data/gene_sets/
applications/*/data/stringdb/
simulations/results/
applications/*/results/

#--------------------------------
# Keep cleaned_data.pkl generally
#--------------------------------
!applications/*/data/cleaned_data/
!applications/*/data/cleaned_data/cleaned_data.pkl

#--------------------------------
# EXCEPT Alzheimer (too large)
#--------------------------------
applications/alzheimers/data/cleaned_data/cleaned_data.pkl

